// Variables

// Dark
$dark-bg : #181818;
$dark-wg: #fff;
$dark-wg-span: rgba(255, 255, 255, 0.555);
$dark-border: rgba(85, 85, 85, 0.692);


// General Styling

.wg-text {
    color: $dark-wg;
    span {
        color: $dark-wg-span;
    }
}

.g-title {
    font-weight: normal;
    font-size: 46px;
    line-height: 54px;
    color: #959595;
    position: relative;
    width: max-content;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: -80px;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        background-color: $dark-border;
        z-index: -1;
    }

    &.right:before {
        left: -80px;
        right: 0;
    }
}

.theme-1-body{
    font-family: normalidad-wide, sans-serif;
    background-color: $dark-bg;
    width: 100%;
    min-height: 300vh;

    .entry {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

        &:before {
            content: "";
            position: absolute;
            left: 125px;
            top: 0;
            width: 1px;
            background-color: $dark-border;
            height: 150vh;
        }

        &:after {
            content: "";
            position: absolute;
            right: 125px;
            top: 0;
            width: 1px;
            background-color: $dark-border;
            height: 100vh;
        }

        .cnt {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            border: 1px solid $dark-border;
            border-left: 0;
            border-right: 0;
            padding: 0 125px 0 200px;

            .name {
                font-weight: normal;
                font-size: 142px;
                line-height: 164px;
                color: #fff;
                width: 630px;
            }

            .img {
                width: 580px;
                height: 580px;
                background: no-repeat center/cover;
            }

            .title {
                position: absolute;
                left: 200px;
                bottom: 0;
                transform: translateY(50%);
                background-color: $dark-bg;
                padding: 0 15px;
                font-weight: normal;
                font-size: 26px;
                line-height: 39px;
                color: #fff;
            }

        }
    }

    .about {
        display: flex;
        padding: 0 125px 0 200px;
        justify-content: space-between;
        margin-top: 70px;

        .exp {
            width: 730px;

            .g-title {
                margin-bottom: 30px;
            }

            p {
                font-weight: normal;
                font-size: 40px;
                line-height: 55px;
                color: #fff;
            }
        }

        .social {
            display: flex;
            flex-direction: column;
            align-items: end;

            .g-title {
                margin-bottom: 30px;
            }

            .links {
                display: flex;
                align-items: center;
                gap: 30px;

                .link-item {
                    opacity: .6;
                    transition: .4s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}