header {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        svg{}
    }

    .links{
        .link-item{
            font-weight: 500;
            font-size: 31px;
            color: #fff;
        }
    }
}